.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 10px;
	background-color: rgb(32, 145, 107);
}

.footer a{
	text-decoration: none;
	color: aqua;
}

.footer a:hover{
	color: rgb(7, 173, 173);
}
